* {
  box-sizing: border-box;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

body {
  margin: 0;
  background-color: #169831;
}

h1 {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  color: whitesmoke;
  margin: 0;
}

h4 {
  font-size: 1.2rem;
}

header {
  width: 100%;
  padding: 1.5em;
  background-color: #050505;
  text-align: center;
}

/** SELECT SCREEN **/

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

form {
  margin-bottom: 1em;
}

.search-bar {
  width: 200px;
  padding: 0.33em;
  border-radius: 5px;
  border: 1px solid black;
}

.player-container {
  margin-left: 1em;
  display: grid;
  grid-template-columns: 6em 5em;
  grid-template-rows: repeat(7, 2.5em);
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.select-buttons-container {
  width: 10em;
}

.select-buttons-container > button {
  background-color: black;
  color: white; 
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5em 1em;
}

.select-edit-btn {
  margin-right: 4em;
}

/** CARD STYLING **/

.back-btn {
  position: absolute;
  padding: 0.5em 1em;
  left: 1.5em;
  top: 1.3em;
  border: 0;
  border-radius: 7px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 380px) {
  .back-btn {
    left: 0.7em;
  }
}

.card-container {
  position: relative;
  padding: 2em;
  display: flex;
  flex-direction: column;
/*   justify-content: center; */
  align-items: center;
  color: white;
}

.card-name {
  margin: -0.3em auto 1.25em auto;
  text-transform: uppercase;
  font-size: 2rem; 
  text-shadow: 2px 2px 8px black;
}
  
.card-details {
  width: 300px;
  font-size: 1.25em;
}

.card-individuals > p {
  margin-bottom: 0.5em;
}

.buttons-container {
  width: 100%;
  text-align: end;
}

.player-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid green;
  background-color: black;
  color: white;
  font-size: 1.33rem;
  cursor: pointer;
  margin-left: 0.5em;
}

.edit-player-btn {

}

.info-btn {
}
